@model IEnumerable<DisasterAlleviationFoundation.Data.MoneyDonations>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonorName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MonetaryDonationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MonetaryDonationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MonetaryDonationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
