@model DisasterAlleviationFoundation.Data.GoodDonations

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GoodDonations</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfItems)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfItems)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Donor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Donor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Catergory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Catergory.CatergoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GoodDonationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
